<footer>
    <div></div>
    <p>© 2025 Oguz Gur <br> All rights reserved.</p>
    <ul>
        <li>
            <a href="https://www.linkedin.com/in/oguz-gur/" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-square-linkedin"></i>
            </a>
        </li>
        <li>
            <a href="https://github.com/OguzGurv2/Virtual-Cat-Shelter" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-square-github"></i>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/ouzdotexe/" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
        </li>
    </ul>
</footer>
</body>

</html>