@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Raleway", 'sans-serif';
}

:root {
    --text: #051a13;
    --background: #e5faf4;
    --primary: #157456;
    --secondary: #b1f1dd; 
    --accent: #21b586;
}

p {
    color: var(--text);
    font-weight: 400;
    line-height: 25px;
}

hr {
    box-sizing: border-box;
    background-color: var(--accent);
    border: 0px;
    height: 2px;
}

.top-bar {
    width: 100vw;
    height: 10vh;
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accent);
    font-size: 25px;
}

.color-mode {
    position: absolute;
    right: 25px;
    font-size: 25px;
    background-color: var(--secondary);
    color: var(--accent);
    border: 0;
}

.content {
    height: 90vh;
    background-color: var(--background);
    padding: 40px 80px;
    width: 100vw;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.content-body {
    height: 80%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: flex-start;
}

#text-content {
    display: flex;
    flex-direction: column;
}

#intro {
    padding-bottom: 25px;
}

fieldset {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

button:hover, input[type="radio"]:hover + label {
    transition: 200ms;
    scale: 1.1;
    cursor: pointer;
}

:focus {
    outline: none;
}

label, button {
    border: 2px solid var(--primary);
    background-color: var(--secondary);
    border-radius: 5px;
    font-size: 15px;
    height: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--primary);
    width: 100px;
    min-width: fit-content;
}

button:disabled,  input[type="radio"]:checked + label {
    scale: 1;
    background-color: var(--accent);
    color: var(--text);
}

input[type="radio"]{
    display: none;
}

.svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: auto;
    border: solid 2px var(--accent);
    background-position: center;
    background-size: cover;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-inline-start: 50px;
    margin-inline-end: 50Spx;
}

.child {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    background-color: var(--background);
    color: var(--text);
    border-radius: 10px;
    font-size: 15px;
    width: 200px;
    height: 20px;
    border: solid var(--primary) 2px;
    padding-left: 5px;
    padding: 2px;
}

::placeholder {
    color: var(--text);
    opacity: 0.5;
    padding: 2px;
}

#name-alert {
    padding-top: 10px;
    font-size: 12.5px;
    color: var(--primary);
}
