@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.pet-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(250px, auto);
    gap: 0px;
}

.pet-child {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.pet-parent:last-child {
    display: flex;
    align-items:flex-start;
}

div.bars {
    align-items: center;
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap: 10px;
    justify-content: center;
}

div.bars label {                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  
    background-color: var(--secondary);
    color: var(--text);
    border: 0;
    font-size: 25px;
    width: fit-content;
    padding: 2px;
    padding-bottom: 8px;
}

#interface {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    margin-bottom: 50px;
    background-color: var(--secondary);
    width: 200px;
    height: 390px;
    border-radius: 5px;
    border: 2px solid var(--primary);
    margin-left: 20px;
}

#happiness {
    color: #2c4c3b;
}

meter {
    width: 125px;
    height: 25px;
}

meter::-webkit-meter-bar {
    background-color: var(--secondary);
    border: 1.5px solid var(--primary);

}

meter::-webkit-meter-optimum-value {
    background-color: var(--primary);
}

.button {
    border: 2px solid var(--primary);
    margin-inline: 10px;
    color: var(--text);
    max-width: 600px;
}

.buttons {
    justify-content: center;
    align-items: center;
    display: inline-flex;
    margin-top: 20px;
    position: relative;
    background-color: var(--secondary);
    width: 400px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid var(--primary);
}

.blink {
    transform: scale(1, 1);
    animation-name: blinking;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}   

@keyframes blinking {
    0% { transform: scale(1, 1); }
    80% { transform: scale(1, 1); }
    90% { transform: scale(1, 0.1); }
    100% { transform: scale(1, 1); }
}

.fall-asleep {
    animation-name: fall-asleep;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes fall-asleep {
    0% {transform: scale(1, 1);}
    25% {transform: scale(1, 0.5);}
    50% {transform: scale(1, 0.25);}
    100% {transform: scale(1, 0.1);}
}

.sleeping {
    transform: scale(1, 0.1);
}

.waking {
    animation-name: waking;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes waking {
    0% {transform: scale(1, 0.1);}
    25% {transform: scale(1, 0.25);}
    50% {transform: scale(1, 0.5);}
    100% {transform: scale(1, 1);}
}


#sleepBar, #cleanBar, #petBar, #feedBar {
    display: flex;
    justify-content: space-between;
}

#fall {
    animation: fall 5s infinite;
  }
  
@keyframes fall {
    0% { transform-origin: 350px 290px; rotate: 0deg; }
    50% { transform-origin: 350px 290px; rotate: -30deg; }
    100% { transform-origin: 350px 290px; rotate: 0deg; }
  }

.hidden {
    display: none;
}

#body {
    transform-origin: 40% 75%;
}

.death-screen {
    padding-top: 50vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.9);
    z-index: 3;
    position: absolute;
    color: red;
    transition: 300ms;
}

.death-screen p {
    color: red;
}

#turn-home {
    margin-top: 10px;
    width: 110px;
    border-radius: 5px;
    border: 2px solid red;
    background-color: rgb(0, 0, 0, 0.9);
    color: red;
}
