#header {
    font-family: 'Gloock-Regular';
    background-color: #AA8B56;
    color: #F0EBCE;
}

body{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #F0EBCE;
}

section {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

h1 {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.parent {
    display: flex;
    align-items: center;
}

.child {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.button {
    width: 10em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-color: darkgray;
    border-radius: 10px;
    justify-content: space-between;
    color: white;
    background-color: grey;
}
:disabled {
    background-color: dimgray;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    max-width: 660px;
}

.eyes {
    animation: blinking 5s infinite;
}

@keyframes blinking {
    0% { transform: scale(1, 1); }
    80% { transform: scale(1, 1); }
    90% { transform: scale(1, 0.1); }
    100% { transform: scale(1, 1); }
}

.sleepEyes {
    animation: sleeping 3s;
}

@keyframes sleeping {
    0% {transform: scale(1, 1);}
    25% {transform: scale(1, 0.5);}
    50% {transform: scale(1, 0.25);}
    100% {transform: scale(1, 0.1);}
}

.openEyes {
    animation: opening 3s;
}

@keyframes opening {
    0% {transform: scale(1, 0.1);}
    25% {transform: scale(1, 0.25);}
    50% {transform: scale(1, 0.5);}
    100% {transform: scale(1, 1);}
}


#sleepBar, #cleanBar, #petBar, #feedBar {
    display: flex;
    justify-content: space-between;
}

#fall {
    animation: fall 5s infinite;
  }
  
@keyframes fall {
    0% { transform-origin: 350px 290px; rotate: 0deg; }
    50% { transform-origin: 350px 290px; rotate: -30deg; }
    100% { transform-origin: 350px 290px; rotate: 0deg; }
  }

.hidden {
    display: none;
}

#body {
    transform-origin: 40% 75%;
}