@import './variables.css';

.auth-form-container{
    padding: 5%;    
}

.auth-form-container h2 {
    margin-top: 10%;
    font-size: 4.5rem;
    color: var(--text);
    text-align: center
}

.auth-form-container .form-group {
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.auth-form-container form {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.auth-form-container form input {
    height: 6rem;
    width: calc(100% - 5rem);
    border-radius: 3rem;
    padding: 0 2.5rem;
    font-size: 3rem;
    color: var(--text);
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.auth-form-container form input::placeholder {
    color: var(--secondary-text);
}

.auth-form-container form label {
    font-size: 3rem;
    padding: 0 2.5rem;
    color: var(--secondary-text);
}

.auth-form-container form button {
    height: 6rem;
    border-radius: 3rem;
    background-color: var(--text);
    color: white;
    font-size: 3rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.form-group a {
    font-size: 2.25rem;
    margin-top: 1rem;
    text-align: right;
}

.form-links {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2.5rem;
}

.form-links a {
    margin-top: 2rem;
    text-decoration: none;
}
