*{
    margin: 0;
    padding: 0;
    border: 0;
}

:root{
    --text: #333333;
    --secondary-text: #666666;
    --background: #f5f5f5;
}

body{
    background-color: var(--background);
    font-family: 'Inter', sans-serif;
    height: 100%;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    height: 100%;
    padding: 5%;
}

footer > div {
    width: 100%;
    height: 1px;
    background-color: black;
    margin-bottom: 2rem;
}

footer p {
    color: var(--secondary-text);
    font-size: 2.25rem;
    line-height: 1.5;
}

footer ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    transition: scale 0.3s ease-in-out;
}

footer li {
    font-size: 5rem;
}

footer i {
    color: var(--text);
}