<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>VCS | <%= title %>
    </title>
    <link rel="stylesheet" href="/src/style/index.css">
    <script type="module" src="/src/static/index.js"></script>
    <script src="https://kit.fontawesome.com/ced748779b.js" crossorigin="anonymous"></script>
</head>

<body>
    <section class="header">
        <h1>Virtual Cat Shelter</h1>
    </section>

    <section class="hero">
        <div class="hero-header">
            <h1>
                Adopt your virtual cat today!
            </h1>
        </div>
        <div class="hero-buttons">
            <button id="log-in" class="btn-primary">Log in</button>
            <button id="sign-up" class="btn-secondary">Sign Up</button>
        </div>
        <div class="hero-carts">
            <ul class="cart-container">
                <li class="highlight" style="background-color: #B8DFD3;">
                    <img src="/src/assets/scottish.svg" alt="scottish-cat">
                    <div style="background-color: #A6C9BE;"></div>
                </li>
                <li style="background-color: #F8C3A1;">
                    <img src="/src/assets/siamese.svg" alt="siamese-cat">
                    <div style="background-color: #DFB091;"></div>
                </li>
                <li style="background-color: #B5CCFB;">
                    <img src="/src/assets/garfield.svg" alt="garfield-cat">
                    <div style="background-color: #A3B7E2;"></div>
                </li>
                <li style="background-color: #CEF1AC;">
                    <img src="/src/assets/van.svg" alt="van-cat">
                    <div style="background-color: #B9D99B;"></div>
                </li>
            </ul>
        </div>
        <div class="hero-content">
            <p>
                Welcome to Virtual Cat Shelter, your online destination for adopting virtual cats! We provide a loving
                and interactive environment where you can find your perfect feline companion. Browse through our
                selection of adorable virtual cats.
            </p>
        </div>
    </section>

<%- include('partials/footer') %>